.container {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 30px;
  font-family: "Gruppo", cursive;
  font-family: "Poppins", sans-serif;
}
.weather {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200801/pngtree-blue-sky-in-the-soft-white-clouds-natural-sky-background-illustration-image_374179.jpg);
  background-size: cover;
  margin: 0;
  padding: 20px 16px 10px;
  width: 598px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}
.cities {
  justify-content: space-evenly;
  border: 1px solid #0d0b88;
  margin-bottom: 25px;
  margin: 10px;
  border-radius: 10px;
}
.city {
  text-decoration: none;
  color: #000;
}
.city:hover {
  opacity: 0.3;
}
.search-bar {
  text-align: left;
  margin: 25px 10px;
  text-align: center;
  display: inline;
}
.bar {
  border: 1px solid #0d0b88;
  width: 350px;
  border-radius: 10px;
  height: 35px;
}
[value],
.current-location {
  border: 1px solid #0d0b88;
  border-radius: 10px;
  background: #ffffff;
  height: 35px;
}
[value]:hover,
.current-location:hover {
  background: #bbe1ff;
}
.sub-head {
  margin: 20px;
  margin-top: 0;
  text-align: center;
  padding-left: 15px;
}
.current-city {
  font-size: 45px;
}
.weathers {
  text-align: center;
  padding-left: 45px;
}
.col-4 {
  margin: 20px 0;
  line-height: 1.2;
}
.sub-head-right {
  text-align: left;
  line-height: 2;
}
.weather-icon {
  color: #ff6f3c;
  font-size: 50px;
}
.city-temp {
  font-size: 30px;
  margin-top: 0;
}
.fah-link {
  display: block;
  margin: 20px 170px;
  text-decoration: none;
}
footer {
  margin-left: 145px;
}
.deg-unit {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
